.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

/* Slide Shoe for the Banner */
.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  filter: brightness(0.7);
}

.hero-image.active {
  opacity: 1;
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

.hero-content h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.hero-button {
  padding: 12px 30px;
  background-color: #ff4081;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s ease;
}

.hero-button:hover {
  background-color: #e73370;
  transform: scale(1.05);
}
