/* Bg of the entire page*/
.login-page {
  background: #ffeef4; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.login-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px 35px;
  width: 350px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-family: "Arial", sans-serif;
}

/* Heading */
.login-card h2 {
  color: #d6336c; 
  margin-bottom: 20px;
  font-size: 26px;
}

/* Input container */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border: 2px solid #f3c1d8;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

.input-group input:focus {
  border-color: #d6336c;
}

/* Login Button */
.btn-login {
  background: #d6336c;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background: #b12b57;
}

/* Message Text */
.msg {
  color: #d6336c;
  margin-bottom: 12px;
}

/* Signup Text */
.signup-link {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}

.signup-link a {
  color: #d6336c;
  text-decoration: none;
  font-weight: bold;
}
