/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;

  height: 72px;             
  display: flex;
  align-items: center;        
  justify-content: space-between;

  padding: 0 24px;             
  background-color: #ffe4e6;

  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

/* Shadow on scroll */
.navbar.scrolled {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Logo Image*/
.logo-image {
  height: 220px;       
  display: block;
  margin-top: 20px;           
  object-fit: contain; 
}


.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;        
}

/* Search Bar */
.search-bar input {
  height: 38px;
  width: 300px;

  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid #ccc;

  outline: none;
  box-sizing: border-box;
}

/* Icons */
.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-links a,
.account-icon {
  height: 40px;
  width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0;               
  cursor: pointer;

  background: none;
  border: none;
}

.nav-links svg,
.account-icon svg {
  width: 22px;
  height: 22px;

  display: block;               
  stroke: black;
  fill: none;
  stroke-width: 1.6;
}

.nav-links a:hover svg,
.account-icon:hover svg {
  stroke: #ff4081;
}

.account-wrapper {
  position: relative;
}

.account-dropdown {
  position: absolute;
  top: 48px;
  right: 0;

  background: white;
  border-radius: 10px;
  padding: 10px;

  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.account-dropdown a {
  text-decoration: none;
  background: #fb76a4;
  color: white;

  padding: 8px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
}

.account-dropdown a:hover {
  background: #d30f50;
}
