.wishlist-page {
  padding: 40px 80px;
  background-color: #fff0f5;
  text-align: center;
}

.wishlist-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.wishlist-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  width: 200px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.wishlist-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* Remove Button*/
.remove-btn {
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #e63e5b;
}
